<nav>
  <div class="nav-wrapper green darken-1">
    <%= link_to "Miniapp", root_path, class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "投稿する", new_post_path %></li>
        <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %><</li>
        <li><%= link_to "Signup", new_user_registration_path %></>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if user_signed_in? %>
    <li><%= link_to "マイページ", user_path(current_user)  %></li>
    <li><%= link_to "投稿する", new_post_path %></li>
    <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path %></li>
    <li><%= link_to "Signup", new_user_registration_path %></>
  <% end %>
</ul>